<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/weather.js"></script>
  </head>
  <body>
    请输入所在城市：
    	<input type="text" id="city" >
    	<input type="button" value="查询" onclick="test();">
    	<br/>
    	<br/>
    	当前温度：<span id="wendu"></span><br/>
    	当前PM2.5污染指数：<span id="aqi"></span><br/>
    	感冒信息：<span id="ganmao"></span><br/>
    	今日状态：<br/>
    		<li>最高温度：<span id="high"></span></li>
    		<li>最低温度：<span id="low"></span></li>
    		<li>风向：<span id="fengxiang"></span></li>
    		<li>风力：<span id="fengli"></span></li>
  </body>
</html>
